<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/myc.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <title>Sahamyab Webapp</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     
</head>

<div class="topnav">
  <a href="cassandra">Cassandra</a>
  <a class="active" href="redis">Redis</a>
  <a href="kibana">Kibana</a>
  <a href="superset">Superset</a>
</div>

<body>
    <div class="header" >
      <h1>Sahamyab Web Application</h1>
      <p>Cassandra, ElasticSearch, Redis, SuperSet, Kibana and more...</p>
    </div>
      

    <div class="content">
      <form id="redis" method="post">
        <input type="text" placeholder="Enter Username" name="username" id="username" required>
        <input type="text" placeholder="Enter Symbol" name="symbol" id="symbol" required>

        <button class="btn" type="submit" name="submit" value="submit">Search</button>
      
     
      <table>
        <tr>
          <th>User Posts Count
              <select name="userRange" id="userRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select>
           
          </th>

          <th>Symbol Posts Count
              <select name="symbolRange" id="symbolRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select>  
          </th>

          <th>All Posts Count
              <select name="postRange" id="postRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select>
          </th>

          <th>Unique Keywords Count
              <select name="keywordRange" id="keywordRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select> 
          </th>
          
        </tr>
        {% if redis_counts is defined %}
        <tr>
          <td style="text-align: center;">
            {{redis_counts.userPostsCount}}
          </td>
          <td style="text-align: center;">
            {{redis_counts.symbolPostsCount}}
          </td>
          <td style="text-align: center;">
            {{redis_counts.allPostsCount}}
          </td>
          <td style="text-align: center;">
            {{redis_counts.keywordUniqueCount}}
          </td>

        </tr>
        {% endif %}
      </table>
    </form>

      <table  style="width: 40%; margin-top: 50px; margin-left: 100px; float: left">
        <tr>
         
          <th>Keywords List</th>
        </tr>
          {% if redis_lists is defined %}
      
          {% for row in redis_lists.keywordList %}
          <tr>
             <td>
              {{row}}
             </td> 
          </tr>

          {% endfor %} 

        {% endif %}
 
      </table>

      <table  style="width: 40%; margin-top: 50px; margin-right: 100px; float:right">
        <tr>
         
          <th>Posts List</th>
        </tr>
          {% if redis_lists is defined %}
      
          {% for row in redis_lists.postList %}
          <tr>
             <td>
              {{row}}
             </td> 
          </tr>

          {% endfor %} 

        {% endif %}
 
      </table>      
    </div>

    
    <script>
      submitForms = function(){
      document.forms[0].submit();
      document.forms[1].submit();
      document.forms[0].submit();
      document.forms[0].submit();
      document.getElementById("userForm").submit();
      document.getElementById("symbolForm").submit();
      document.getElementById("postForm").submit();
      document.getElementById("keywordForm").submit();
}
    </script>

</body>

</html>