{% extends 'dashboard_base.html' %} {% block title %} توییت گرد {% endblock %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">analytics</i>
            </div>

            <div class="card-content">
                <h3 class="card-title">تحلیلگر آماری</h3>
            </div>


            <div class="content">
                <form id="redis" method="post">
                    <div class="row">
                        <label class="col-sm-1 text-center">نام کاربر</label>
                        <div class="col-sm-11">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input name="username" id="username" type="text" class="form-control" style="width:30%" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 text-center">نام نماد</label>
                        <div class="col-sm-11">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input name="symbol" id="symbol" type="text" class="form-control" style="width:30%" required>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-rose btn-round" type="submit" name="submit" value="submit">جستجو</button>

                    <table  class="table table-striped">
                        <tr>
                            <th>تعداد توییت های کاربر <br>
                                <select name="userRange" id="userRange" class="selectpicker text-center" data-style="btn btn-rose btn-round" data-size="7">
                                  <option value="1">1 ساعت</option>
                                  <option value="6">6 ساعت</option>
                                  <option value="12">12 ساعت</option>
                                  <option value="24">24 ساعت</option>
            </select>

                            </th>

                            <th>تعداد توییت های نماد <br>
                                <select name="symbolRange" id="symbolRange" class="selectpicker text-center" data-style="btn btn-rose btn-round" data-size="7">
                                  <option value="1">1 ساعت</option>
                                  <option value="6">6 ساعت</option>
                                  <option value="12">12 ساعت</option>
                                  <option value="24">24 ساعت</option>
            </select>
                            </th>

                            <th>تعداد کل توییت ها <br>
                                <select name="postRange" id="postRange" class="selectpicker text-center" data-style="btn btn-rose btn-round" data-size="7">
                                  <option value="1">1 ساعت</option>
                                  <option value="6">6 ساعت</option>
                                  <option value="12">12 ساعت</option>
                                  <option value="24">24 ساعت</option>
                                </select>
                            </th>

                            <th>تعداد کلیدواژه های یکتا<br>
                                <select name="keywordRange" id="keywordRange" class="selectpicker text-center" data-style="btn btn-rose btn-round" data-size="7">
                                  <option value="1">1 ساعت</option>
                                  <option value="6">6 ساعت</option>
                                  <option value="12">12 ساعت</option>
                                  <option value="24">24 ساعت</option>
            </select>
                            </th>

                        </tr>
                        {% if redis_counts is defined %}
                        <tr>
                            <td style="text-align: center;">
                                {{redis_counts.userPostsCount}}
                            </td>
                            <td style="text-align: center;">
                                {{redis_counts.symbolPostsCount}}
                            </td>
                            <td style="text-align: center;">
                                {{redis_counts.allPostsCount}}
                            </td>
                            <td style="text-align: center;">
                                {{redis_counts.keywordUniqueCount}}
                            </td>

                        </tr>
                        {% endif %}
                    </table>
                </form>

                <table  class="table table-striped" style="width: 35%; margin-top: 50px; margin-left: 100px; float: left">
                    <tr>

                        <th>لیست کلیدواژه ها</th>
                    </tr>
                    {% if redis_lists is defined %} {% for row in redis_lists.keywordList %}
                    <tr>
                        <td>
                            {{row}}
                        </td>
                    </tr>

                    {% endfor %} {% endif %}

                </table>

                <table  class="table table-striped" style="width: 35%; margin-top: 50px; margin-right: 100px; float:right">
                    <tr>

                        <th>لیست توییت ها</th>
                    </tr>
                    {% if redis_lists is defined %} {% for row in redis_lists.postList %}
                    <tr>
                        <td>
                            {{row}}
                        </td>
                    </tr>

                    {% endfor %} {% endif %}

                </table>
                <br>
            </div>

        </div>
    </div>

</div>

<style>
    body {
        margin: 0;
    }
    /* Header/Logo Title */
    
    .header {
        padding: 20px;
        text-align: center;
        background: #1abc9c;
        color: white;
    }
    /* Page Content */
    
    .content {
        text-align: center;
        padding: 20px;
    }
    /* Style the buttons */
    /* Style the active class (and buttons on mouse-over) */
    
    .active,
    .btn:hover {
        background-color: #666;
        color: white;
    }
    
    input[type=text] {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        table-layout: fixed;
        width: 85%;
    }
    
    td {
        border: 2px solid #dddddd;
        text-align: Right;
        padding: 8px;
    }
    
    th {
        border: 2px solid #dddddd;
        text-align: center;
        padding: 8px;
        font-size: 1.2em;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<script>
    submitForms = function() {
        document.forms[0].submit();
        document.forms[1].submit();
        document.forms[0].submit();
        document.forms[0].submit();
        document.getElementById("userForm").submit();
        document.getElementById("symbolForm").submit();
        document.getElementById("postForm").submit();
        document.getElementById("keywordForm").submit();
    }
</script>





{% endblock %} {% block scripts %}
<script>
    var table = $('#datatable').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Persian.json"
        }
    });
</script>
{% endblock %}