{% extends 'dashboard_base.html' %} {% block title %} توییت گرد {% endblock %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">analytics</i>
            </div>

            <div class="card-content">
                <h3 class="card-title">تحلیلگر آماری</h3>
            </div>
        </div>
    </div>

</div>

<style>
  body {
    background-color: powderblue;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Page Content */
  .content {
    text-align: center;
    padding:20px;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }
  
  input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout:fixed;
    width: 85%;
  }
  
  td {
    border: 2px solid #dddddd;
    text-align: Right;
    padding: 8px;
  }
  th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>

<body>

    <div class="content">
      <form id="redis" method="post">
        <input type="text" placeholder="Enter Username" name="username" id="username" required>
        <input type="text" placeholder="Enter Symbol" name="symbol" id="symbol" required>

        <button class="btn" type="submit" name="submit" value="submit">Search</button>
      
     
      <table>
        <tr>
          <th>User Posts Count <br>
              <select name="userRange" id="userRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select>
           
          </th>

          <th>Symbol Posts Count <br>
              <select name="symbolRange" id="symbolRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select>  
          </th>

          <th>All Posts Count <br>
              <select name="postRange" id="postRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select>
          </th>

          <th>Unique Keywords Count <br>
              <select name="keywordRange" id="keywordRange">
                <option value="1">1h</option>
                <option value="6">6h</option>
                <option value="12">12h</option>
                <option value="24">24h</option>
              </select> 
          </th>
          
        </tr>
        {% if redis_counts is defined %}
        <tr>
          <td style="text-align: center;">
            {{redis_counts.userPostsCount}}
          </td>
          <td style="text-align: center;">
            {{redis_counts.symbolPostsCount}}
          </td>
          <td style="text-align: center;">
            {{redis_counts.allPostsCount}}
          </td>
          <td style="text-align: center;">
            {{redis_counts.keywordUniqueCount}}
          </td>

        </tr>
        {% endif %}
      </table>
    </form>

      <table  style="width: 35%; margin-top: 50px; margin-left: 100px; float: left">
        <tr>
         
          <th>Keywords List</th>
        </tr>
          {% if redis_lists is defined %}
      
          {% for row in redis_lists.keywordList %}
          <tr>
             <td>
              {{row}}
             </td> 
          </tr>

          {% endfor %} 

        {% endif %}
 
      </table>

      <table  style="width: 35%; margin-top: 50px; margin-right: 100px; float:right">
        <tr>
         
          <th>Posts List</th>
        </tr>
          {% if redis_lists is defined %}
      
          {% for row in redis_lists.postList %}
          <tr>
             <td>
              {{row}}
             </td> 
          </tr>

          {% endfor %} 

        {% endif %}
 
      </table>      
    </div>

    
    <script>
      submitForms = function(){
      document.forms[0].submit();
      document.forms[1].submit();
      document.forms[0].submit();
      document.forms[0].submit();
      document.getElementById("userForm").submit();
      document.getElementById("symbolForm").submit();
      document.getElementById("postForm").submit();
      document.getElementById("keywordForm").submit();
}
    </script>

</body>



{% endblock %} {% block scripts %}
<script>
    var table = $('#datatable').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Persian.json"
        }
    });
</script>
{% endblock %}