{% extends 'dashboard_base.html' %} {% block title %} توییت گرد {% endblock %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header card-header-tabs" data-background-color="rose">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#tweets" data-toggle="tab">
                                    <i class="material-icons">message</i> توییت ها
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#users" data-toggle="tab">
                                    <i class="material-icons">group</i> کاربران
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#symbols" data-toggle="tab">
                                    <i class="material-icons">label</i> نماد ها
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#keywords" data-toggle="tab">
                                    <i class="material-icons">code</i> کلید واژه ها
                                    <div class="ripple-container"></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="tab-content">

                    <div class="tab-pane active" id="tweets">
                        <div class="table-responsive material-datatables">
                            <form id="posts" method="post">
                                <div class="row">
                                    <label class="col-sm-1 text-center">سال</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sY" id="sY" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">ماه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sM" id="sM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">روز</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sD" id="sD" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">ساعت</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sH" id="sH" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-rose btn-round" type="submit" name="table" value="posts">جستجو</button>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane" id="users">
                        <div class="table-responsive material-datatables">
                            <form id="users" method="post">
                                <div class="row">
                                    <label class="col-sm-1 text-center">نام کاربر</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input name="username" id="username" type="text" class="form-control" style="width:30%" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از سال</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sY" id="sY" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از ماه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sM" id="sM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از روز</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sD" id="sD" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از ساعت</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sM" id="sM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div> <br>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا سال</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eY" id="eY" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا ماه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eM" id="eM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا روز</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eD" id="eD" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا ساعت</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eM" id="eM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div> <br>

                                <button class="btn btn-success btn-round" type="submit" name="table" value="users">جستجو</button>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane" id="symbols">
                        <div class="table-responsive material-datatables">
                            <form id="symbols" method="post">
                                <div class="row">
                                    <label class="col-sm-1 text-center">نام نماد</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input name="symbol" id="symbol" type="text" class="form-control" style="width:30%" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از سال</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sY" id="sY" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از ماه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sM" id="sM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از روز</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sD" id="sD" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از ساعت</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sM" id="sM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div> <br>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا سال</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eY" id="eY" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا ماه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eM" id="eM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا روز</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eD" id="eD" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا ساعت</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eM" id="eM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div> <br>
                                <button class="btn btn-success btn-round" type="submit" name="table" value="symbols">جستجو</button>

                            </form>
                        </div>
                    </div>

                    <div class="tab-pane" id="keywords">
                        <div class="table-responsive material-datatables">


                            <form id="keywords" method="post">
                                <div class="row">
                                    <label class="col-sm-1 text-center">کلید واژه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input name="keyword" id="keyword" type="text" class="form-control" style="width:30%" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از سال</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sY" id="sY" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از ماه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sM" id="sM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از روز</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sD" id="sD" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">از ساعت</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="sM" id="sM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div> <br>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا سال</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eY" id="eY" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا ماه</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eM" id="eM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا روز</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eD" id="eD" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-1 text-center">تا ساعت</label>
                                    <div class="col-sm-11">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input maxlength="2" name="eM" id="eM" type="text" class="form-control" style="width:30%">
                                        </div>
                                    </div>
                                </div> <br>
                                <button class="btn btn-success btn-round" type="submit" name="table" value="symbols">جستجو</button>

                            </form>
                        </div>
                    </div>

                </div>


                <br>
                <div>
                    {% if db_result is defined %}


                    <div class="table-responsive material-datatables">
                        <table class="table table-striped" id="datatable">
                            <thead class="text-danger">
                                <tr>
                                    <th style="width:35%">توییت</th>
                                    <th>کلید واژه</th>
                                    <th>نماد ها</th>
                                    <th style="width:15%">کاربر</th>
                                    <th style="width:10%">شناسه</th>
                                    <th style="width:15%">تاریخ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in db_result %}
                                <tr>
                                    <td class="text-center">{{row.content}}</td>
                                    <td class="text-center">{{row.keywords}}</td>
                                    <td class="text-center">{{row.symbols}}</td>
                                    <td class="text-center">{{row.senderUsername}}</td>
                                    <td class="text-center">{{row.id}}</td>
                                    <td class="text-center">{{row.sendTimePersian}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    var postsForm = document.getElementById('posts');
    var usersForm = document.getElementById('users');
    var symbolsForm = document.getElementById('symbols');
    var keywordsForm = document.getElementById('keywords');



    var header = document.getElementById("tables");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

{% endblock %}